extends ./partials/layout.jade

block title
  title Кодстайл и насилие

block slides

  article.cover
    .container
      h1.left Кодстайл
      h1.right Насилие
      h1.right Хипстеры

  article.illustration.illustration-h1.cloud.center.why
    h1
      p.wrapper 
        b Кодстайл?

  article.illustration.illustration-h1.cloud.center.why
    h1
      p.wrapper 
        b Зачем мне
        br
        b это надо?

  article.illustration.illustration-b1
    .subtitle  
      p — Не то что бы именно надо. 
        br
        |  Пока ты работаешь один.

  article.illustration.illustration-h2
    .subtitle  
      p — Но как только команда начинает рости …
  
  article.illustration.illustration-b2

  article.illustration.illustration-h25
    .subtitle  
      p … всё больше …
  
  article.illustration.illustration-b25

  article.illustration.illustration-h3
    .subtitle  
      p … и больше …
  
  article.illustration.illustration-b3

  article.illustration.illustration-h4
    .subtitle  
      p … и страннее …
  
  article.illustration.illustration-b4
    .subtitle  
      p … и …

  article.illustration.illustration-b5
    .subtitle  
      p … и в определенный момент станновится очевидно, 
        br
        |  что нужны правила.

  article.center.list-1
    .wrapper
      h1 Что за правила нужны?
      ul
        li Скрипты 
          b (ECMA X, TypeScript, Kotlin, etc. )
        li Стили 
          b (CSS, PostCSS, Sass, Less, Stylus, etc.)
        li Рабочий процесс 
          b (git flow, github flow, gitlab flow, etc.)
    //- .subtitle  
    //-   p — Они должны покрывать скрипты, стили и рабочий процесс.

  article.center.list-2
    .wrapper
      h1 Рабочий процесс включает
      ul
        li Процесс
        li Именование веток
        li Именование коммитов

  article.choose.cloud.center
    h1 
      p.wrapper А как 
        br 
        | выбрать 
        br
        | кодстайл?

  article.lazy.cloud.center
    h1 
      p.wrapper Его
        br
        | должен поддерживать кто то, кто
        br
        | не я
    .subtitle
      p — Потому что мы тут с вами не лучший мир строим, мы пишем   программы, что бы заработать деньги, 
        br
        |  купить ружье … и … о чем это я?

  article.lazy.lazy--trendy.cloud.center
    h1 
      p.wrapper Он 
        br
        | должен быть модным
    .subtitle
      p — Потому что это увеличивает ценность членов вашей команды как   разработчиков и потому его будет проще внедрить

  article.choose.choose-2.cloud.center
    h1 
      p.wrapper Что то
        br 
        | ещё?

  article.lazy.lazy--nope.cloud.center
    h1 
      p.wrapper НЕТ
    .subtitle
      p — Всем начхать используете вы пробелы или табы: IDE отлично   справится и с теми, и с другими. Важно единообразие.

  article.illustration.illustration-airbnb

  article.center.qrcode.var-2
      .wrapper
          .half
              h2 Airbnb JavaScript Style Guide
          .half
              img(src="images/airbnb_js.svg", alt="QRCODE with link to Airbnb js style guide")
          p
              a(href="https://github.com/airbnb/javascript", data-click=true) https://github.com/airbnb/javascript

  article.center.qrcode.var-2
      .wrapper
          .half
              h2 Airbnb CSS Style Guide
          .half
              img(src="images/airbnb_js.svg", alt="QRCODE with link to Airbnb js style guide")
          p
              a(href="https://github.com/airbnb/css", data-click=true) https://github.com/airbnb/css


  article.illustration.illustration-standard

  article.center.qrcode.var-2
      .wrapper
          .half
              h2 Standard JavaScript Style Guide
          .half
              img(src="images/standard_js.svg", alt="QRCODE with link to Airbnb js style guide")
          p
              a(href="https://github.com/standard/standard", data-click=true) https://github.com/standard/standard

  article.illustration.illustration-git-flow

  article.center.qrcode.var-2
      .wrapper
          .half
              h2 A successful Git branching model
          .half
              img(src="images/git-flow-link.svg", alt="QRCODE with link to original gitflow article")
          p
              a(href="http://nvie.com/posts/a-successful-git-branching-model/", data-click=true) https://goo.gl/GDaF  

  article.illustration.illustration-github

  article.center.qrcode.var-6
      .wrapper
          .half
              h2 GitHub
                br
                | branching model
          .half
              img(src="images/github-flow-link.svg", alt="QRCODE with link to original gitflow article")
          p
              a(href="https://githubflow.github.io/", data-click=true) https://githubflow.github.io/

  article.illustration.illustration-gitlab

  article.center.qrcode.var-6
      .wrapper
          .half
              h2 GitLab
                br
                | branching model
          .half
              img(src="images/gitlab-flow-link.svg", alt="QRCODE with link to original gitflow article")
          p
              a(href="https://about.gitlab.com/2014/09/29/gitlab-flow/", data-click=true) https://goo.gl/Z0w1nQ

  article.choose.choose-3.cloud.center
    h1 
      p.wrapper И всё?
        b погнали?

  article.illustration.illustration--indian
    .subtitle  
      p — Да! Это ваши коллеги из отделения в Дели бегут, что бы внедрить   ваш кодстайл. Вот прямо таки вприпрыжку и волосы назад!

  article.illustration.illustration--indian
    .subtitle
      p — На самом деле нет. Никому ваш кодстайл не нужен.

  article.artist.cloud.center
    h1 
      p.wrapper Я — художник!
        br
        | Не смейте меня ограничивать!
    .subtitle  
      p — Если хотите внедрить кодстайл, то его нужно явно   определить,
        |  автоматически проверять и принуждать использовать. 

  article.illustration.illustration--editorconfig

  article.center.code-9
    .wrapper
      pre
        code.bash.
          $ vi .editorconfig

  article.center.code-2
    .wrapper
      pre
        code.
          [*]
          indent_style = space
          indent_size = 2
          tab_width = 2
          end_of_line = lf
          charset = utf-8
          trim_trailing_whitespace = true
          insert_final_newline = true

  article.illustration.illustration--atom

  article.screen.screen--atom-editorconfig

  article.screen.screen--atom-editorconfig-error

  article.illustration.illustration--ws

  article.screen.screen--ws-editorconfig

  article.center.qrcode.var-6
      .wrapper
          .half
              h2 EditorConfig
          .half
              img(src="images/editorconfig_link.svg", alt="QRCODE with link to eslint")
          p
              a(href="http://editorconfig.org/", data-click=true) http://editorconfig.org/

  article.illustration.illustration--eslint

  article.center.qrcode.var-6
      .wrapper
          .half
              h2 ESLint
          .half
              img(src="images/gitlab-flow-link.svg", alt="QRCODE with link to eslint")
          p
              a(href="https://eslint.org/", data-click=true) https://eslint.org/

  article.center.code-9
    .wrapper
      pre
        code.bash.
          $ sudo npm i -g eslint
          $ npm i -D eslint

  article.center.code-9
    .wrapper
      pre
        code.bash.
          $ eslint --init

  article.screen.screen--eslint-init

  article.center.code-9
    .wrapper
      pre
        code.bash.
          $ vi .eslintrc

  article.center.code-1
    .wrapper
      pre
        code.javascript.
          // .eslintrc
          {
            "extends": "airbnb",
            "plugins": [
              "react",
              "jsx-a11y",
              "import"
            ]
          }

  article.center.code-0
    .wrapper
      pre
        code.bash.
          $ npm info 
              "eslint-config-airbnb@latest" 
              peerDependencies

          { eslint: '^3.19.0 || ^4.3.0',
            'eslint-plugin-jsx-a11y': '^5.1.1',
            'eslint-plugin-import': '^2.7.0',
            'eslint-plugin-react': '^7.1.0' }

  article.center.code-0
    .wrapper
      pre
        code.bash.
          $ npm i -D eslint-plugin-react@latest
          $ npm i -D eslint-plugin-import@latest
          $ npm i -D eslint-plugin-jsx-a11y@latest
          $ npm i -D eslint-config-airbnb@latest

  article.center.code-2
    .wrapper
      pre
        code.javascript.
          // .eslintrc
          {
            "parser": "babel-eslint",
            "extends": "airbnb",
            "plugins": [
              "react",
              "jsx-a11y",
              "import"
            ]
          }

  article.center.code-3
    .wrapper
      pre
        code.javascript.
          // .eslintrc
          {
            "parser": "babel-eslint",
            "extends": "airbnb",
            "plugins": [
              "react",
              "jsx-a11y",
              "import"
            ],
            "env": {
              "browser": true,
              "es6": true,
            },
          }

  article.center.code-7
    .wrapper
      pre
        code.bash.
          $ npm i -D babel-eslint@latest

  article.center.code-9
    .wrapper
      pre
        code.bash.
          $ eslint ./source
              --color 
              --format stylish

  article.screen.screen--eslint-errors

  article.center.code-9
    .wrapper
      pre
        code.bash.
          $ eslint ./source
              --color 
              --format stylish
              --fix

  article.screen.screen--eslint-better

  article.center.code-1
    .wrapper
      pre
        code.js.
          // package.json
          { // …
            "scripts": {
              "lint:js": "eslint ./source 
                            --color 
                            --format stylish 
                            --fix"
            }
          }

  article.center.code-9
    .wrapper
      pre
        code.bash.
          $ npm run lint:js

  article.change.cloud.center
    h1 
      p.wrapper И что,
        br
        | мне это ручками каждый раз запускать?
    .subtitle  
      p — Что бы видеть проблемы в процессе работы 
        br
        |  нужно настроить редактор

  article.illustration.illustration--atom

  article.screen.screen--eslint-atom

  article.screen.screen--eslint-atom-fix

  article.screen.screen--eslint-atom-error

  article.illustration.illustration--ws

  article.screen.screen--ws-preferences

  article.screen.screen--ws-eslint

  article.screen.screen--ws-eslint-fix

  article.screen.screen--ws-eslint-error

  article.think.cloud.center
    h1 
      p.wrapper Зашибись,
        br
        | но что если
        br 
        | я это всё просто проигнорирую?
    .subtitle  
      p — Тогда, очевидно, мне придется использовать…

  article.illustration.illustration--hook.cloud.center.hook
    h1 
      p.wrapper Хук

  article.center.code-7
    .wrapper
      pre
        code.bash.
          #!/bin/bash
          # .git/hooks/pre-commit
          if !(npm run lint:js --silent) then
            exit 1;
          fi

  article.center.qrcode.var-6
    .wrapper
      .half
        h2 Source Control
          br
          | Integrations
      .half
        img(src="images/hook.svg", alt="QRCODE with link")
      p
        a(href="https://eslint.org/docs/user-guide/integrations#source-control", data-click=true) http://bit.ly/2w5y30Q

  article.think.cloud.center
    h1 
      p.wrapper Ты правда думаешь, что я себе pre-commit установлю?

  article.think.cloud.center
    h1 
      p.wrapper Я себе что враг? И вообще — сложно же.


  article.think.think--repo.cloud.center
    h1 
      p.wrapper В репу хуки не добавить.


  article.center.code-9
    .wrapper
      pre
        code.bash.
          $ npm i -D lint-staged
          $ npm i -D husky

  article.center.code-1
    .wrapper
      pre
        code.js.
          // package.json
          { // …
            "scripts": { // …
              "precommit": "lint-staged"
            },
            "lint-staged": { // …
              "*.{js,jsx}": "eslint"
            }
          }

  article.screen.screen--husky

  article.think.think--swear.cloud.center
    h1 
      p.wrapper &#x2589;&#x2589;&#x2589;&#x2589;


  article.talk.cloud.center
    h1 
      p.wrapper А что там со стилями?

  
  article.screen.screen--stylelint

  article.center.qrcode.var-6
    .wrapper
      .half
        h2 Stylelint
      .half
        img(src="images/stylelint_link.svg", alt="QRCODE with link")
      p
        a(href="https://stylelint.io/", data-click=true) https://stylelint.io/

  article.center.code-0
    .wrapper
      pre
        code.bash.
          $ sudo npm i -g stylelint
          $ npm i -D stylelint
          $ npm i -D stylelint-config-standard
          $ vi .stylelintrc

  article.center.code-0
    .wrapper
      pre
        code.js.
          {
            "syntax": "less",
            "extends": "stylelint-config-standard",
            "rules": {
              // …
            }
          }

  article.center.qrcode.var-6
    .wrapper
      .half
        h2 Airbnb Stylelint Config Issue
      .half
        img(src="images/stylelint-airbnb-issue.svg", alt="QRCODE with link")
      p
        a(href="https://github.com/airbnb/css/pull/23", data-click=true) http://bit.ly/2vwHKlK


  article.center.code-0
    .wrapper
      pre
        code.bash.
          npm i -D stylelint-scss
          npm i -D stylelint-selector-bem-pattern

  article.center.qrcode.var-6
    .wrapper
      .half
        h2 Airbnb Stylelint Config #1
      .half
        img(src="images/stylelint-airbnb-1.svg", alt="QRCODE with link")
      p
        a(href="https://gist.github.com/DanielaValero/b3a72b2f3d0c85c1985d5d2d7497f347", data-click=true) http://bit.ly/2vwQmsD



  article.center.qrcode.var-6
    .wrapper
      .half
        h2 Airbnb Stylelint Config #2
      .half
        img(src="images/stylelint-airbnb-2.svg", alt="QRCODE with link")
      p
        a(href="https://gist.github.com/SilentImp/64d8daa0d890e6ba4aa00d5dc2c273d8", data-click=true) http://bit.ly/2wGfVMU

  article.center.code-6
    .wrapper
      pre
        code.bash.
          stylelint ./src/**/*.less 
                      --syntax less 
                      --color 
                      --formatter verbose

  article.screen.screen--stylelint-error

  article.center.code-6
    .wrapper
      pre
        code.bash.
          stylelint ./src/**/*.less 
                      --syntax less 
                      --color 
                      --formatter verbose
                      --fix

  article.screen.screen--stylelint-fix

  article.center.code-2
    .wrapper
      pre
        code.js.
          // package.json
          { // …
            "scripts": {
              "lint:less": "stylelint ./src/**/*.less 
                                      --syntax less 
                                      --color 
                                      --formatter verbose
                                      --fix"
            }
          }

  article.center.code-9
    .wrapper
      pre
        code.bash.
          $ npm run lint:less

  article.illustration.illustration--atom

  article.screen.screen--sytlelint-atom

  article.illustration.illustration--ws

  article.screen.screen--ws-stylelint

  article.screen.screen--ws-errors

  article.talk.talk--2.cloud.center
    h1 
      p.wrapper И никаких хуков, да?
    .subtitle  
      p — Нет.

  article.center.code-1
    .wrapper
      pre
        code.js.
          // package.json
          { // …
            "scripts": { // …
              "precommit": "lint-staged"
            },
            "lint-staged": { // …
              "*.less": "stylelint"
            }
          }

  article.screen.screen--husky-less

  article.talk.talk--3.cloud.center
    h1 
      p.wrapper &#x2589;&#x2589;&#x2589; &#x2589;&#x2589; &#x2589;
        br
        | &#x2589;&#x2589;&#x2589;&#x2589;&#x2589;

    h2
      p.wrapper &#x2589;&#x2589;&#x2589;&#x2589;&#x2589;&#x2589;&#x2589;

  article.flow.cloud.center
    h1 
      p.wrapper А что 
        br
        | насчет рабочего процесса?
    .subtitle  
      p — Ещё больше хуков…

  article.flow-demo
    .wrapper

  article.center.code-7
    .wrapper
      pre
        code.bash.
          vi ./hooks/commit-msg
          chmod 0755 ./hooks/commit-msg

  article.center.code-2
    .wrapper
      pre
        code.bash.
          #!/bin/bash
          MESSAGE=`cat "$1"`;
          if (![[ "$MESSAGE" =~ ^[A-Z]+-[0-9]+\ -\ .*$ ]]) 
            && [ "$MESSAGE" != "merge" ]; 
            then 
              echo "Wrong commit message format."; 
              exit 1;
          fi

  article.center.code-2
    .wrapper
      pre
        code.bash.
          if [[ "$MESSAGE" =~ ([а-яА-Я]+) ]]; then 
            echo "Don't use russian for commit message."; 
            exit 2;
          fi

  article.center.code-2
    .wrapper
      pre
        code.bash.
          if (![[ "$MESSAGE" =~ ^[A-Z]+-[0-9]+\ -\ .{5,}$ ]]) 
            && [ "$MESSAGE" != "merge" ]; then 
              echo "Commit message is too short, 
                    try to be more descriptive."; 
              exit 3;
          fi

  article.center.code-2
    .wrapper
      pre
        code.js.
          // package.json
          { // …
            "scripts": { // …
              "commitmsg": "./hooks/commit-msg ${GIT_PARAMS}"
            },
            // …
          }

  article.screen.screen--husky-message

  article.flow.flow--2.cloud.center
    h1 
      p.wrapper И всё?
    .subtitle  
      p — Нет

  article.illustration.illustration-gitlab

  article.screen.screen--protect-branch-1

  article.screen.screen--protect-branch-2

  article.screen.screen--protect-push

  article.screen.screen--pushed

  article.flow.flow--3.cloud.center
    h1 
      p.wrapper &#x2589;&#x2589;&#x2589;&#x2589;&#x2589;
        b ,
        br
        b что дальше?

  article.illustration.illustration--punk

  article.voodoo.cloud.center
    h1 
      p.wrapper Просто хотел дать тебе знать,
        br
        | что мы сделали куклу вуду,
        br
        b &#x2589;&#x2589;&#x2589;&#x2589;&#x2589;&#x2589;

  article.contacts.center.qrcode
    .wrapper
      .about-speaker.half
        p.name Anton Nemtsev
        p.link http://silentimp.info/
        p.twitter @silentimp
        p.email thesilentimp@gmail.com
        p.skype skype: ravencry
      .half
        img(src="images/git.svg", alt="QRCODE cо ссылкой на доклад")

      p
        a(href="https://github.com/SilentImp/codeStyleAndViolence", data-click=true) https://goo.gl/31KBF6
